
<nav class="navbar navbar-expand-md navbar-dark bg-success sticky-top">

    <button class="navbar-toggler hidden-sm-up" type="button" (click)="toggleNavbar()" data-target="#collapse_target" aria-controls="collapse_target" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="collapse_target">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link"><i class="fas fa-home navbar-item-icon"></i>Home</a>
            </li>
            <li class="nav-item">
                <a routerLink="/upload" routerLinkActive="active" class="nav-link"><i class="fas fa-upload navbar-item-icon"></i>Upload</a>
            </li>
            <li class="nav-item">
                <a routerLink="/view" routerLinkActive="active" class="nav-link" ><i class="far fa-image navbar-item-icon"></i>View Gallery</a>
            </li>
        </ul>
    </div>
    <div *ngIf="userLogin && isNavbarCollapsed">
        <a routerLink="/logout" class="logout" ><i class="fas fa-sign-out-alt navbar-item-icon"></i>Logout</a>
    </div>
    
</nav>

<div class="router-outlet-container">
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>

