<div class="container">
    <div class="row">
        <div class="col-12 header">
            <h2>{{headerMessage}}</h2>
        </div>
        <div class="col-12" *ngIf="recentImages.length > 0">
            <ngb-carousel class="carousel-container">
                <ng-template ngbSlide *ngFor="let image of recentImages">
                    <img [src]="image.src">
              </ng-template>
          </ngb-carousel>
      </div>
  </div>
</div>