.container {
    margin-top: 1em;
}

.header {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 900;
    color:white;
}

.carousel-container {
    width: 75%;
    margin: auto;
}

/deep/ .carousel-item.active {
    display: block;
    height: 450px;
}

/deep/ .carousel-item.active img {
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*width: 100%;*/
    height: 100%;
}

@media only screen and (max-width: 768px) {

    .carousel-container {
        width: 85%;
    }

    /deep/ .carousel-item.active {
        height: 350px;
    }

}

@media only screen and (max-width: 435px) {

    .carousel-container {
        width: 95%;
    }

    /deep/ .carousel-item.active {
        height: 250px;
    }

}