<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-login my-5">
          <div class="card-body">
            
            <h5 class="card-title text-center">{{formInfo.title}}</h5>

            <div class="lds-roller" *ngIf="loadingIcon"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form-login" *ngIf="!loadingIcon">
                <div class="form-label-group">
                    <input type="text" id="inputUsername" formControlName="username" class="form-control" placeholder="Username" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.username.errors }" required autofocus>
                    <label for="inputUsername">Username</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && loginForm.controls.password.errors }" required>
                    <label for="inputPassword">Password</label>

                </div>


                    <div *ngIf="error" class="error-box alert-danger center-text">
                        <p>{{error}}</p>
                    </div>

                    <hr class="my-4">

                    <div *ngIf="formInfo.registerOption" class="register center-text">
                        <span>Don’t have an account? </span>
                        <a [routerLink]="['/register']"> Register now.</a>
                    </div>

                    <button class="btn btn-lg btn-success btn-block text-uppercase" type="submit">{{formInfo.button}}</button>

            </form>
        </div>
    </div>
</div>
</div>