.container {
  margin-top: 1em;
}

.header {
  margin-bottom: 1em;
  text-align: center;
  font-weight: 900;
  color:white;
}

.modal-footer{
  justify-content: center;
}

.modal-footer button {
  width: 30%;
}

.d-inline-block {
  vertical-align: top;
}

.edit-container {
  margin: 0.5em 0 0 0;
}

.edit-container > * {
  margin: 0 1.5em 1em 0;
}

.edit-container > * > i {
  vertical-align: inherit;
}

.img-container {
  height: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  display: inline-block;
  justify-content: center;
}


.img-container img {
  background: white;
  padding: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img-selected {
  opacity: 0.2;
}

.img-container .select-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 25px 15px 25px 15px;
}

.select-container span {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
  font-size: 3em;
  color: green;
  pointer-events: none;
}


.fas.fa-user-minus:hover {
  color: red;
}

table {
  font-family: "Roboto";
}


@media only screen and (min-width: 768px) {

  .img-container .img-hover:hover {
    box-shadow: 5px 3px 10px rgb(140, 197, 102);
    transform: scale(1.1);   
    transition: all 1s;
  }

  

}


@media only screen and (max-width: 768px) {
  .img-container {
    height: 300px;
    width:  400px;
    padding: 10px 10px 10px 10px;
    position: relative;
    display: inline-block;
    justify-content: center;
  }

  .modal-footer button {
    width: 50%;
  }
}


.pagination-bar-container {
  margin-top: 20px;
}

/* Alter default ng-bootstrap pagination style */
/deep/ .pagination {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  -webkit-justify-content: center;
  flex-wrap : wrap;
  -webkit-flex-wrap: wrap;
}

/deep/ .pagination .page-link, .pagination .page-item.disabled .page-link {
  background-color: #CCCCCC !important;
  border-color: #CCCCCC #3a433c !important;
  color: #3e3b3b !important;
  outline: none !important;
  box-shadow: none;
}

/deep/ .pagination .page-item.active .page-link {
  background-color: #00B328 !important;
  border-color: #00B328 #3a433c !important;
  color: #f8f8f8 !important;
  outline: none !important;
  box-shadow: none;
}


/* Alter default ngx-lightbox styles */
/deep/ .lb-outerContainer.transition {
  background-color: #cccccc;
}

/deep/ .lb-image.animation.fadeIn {
  border: 0;
}
