
<div class="container">

    <div class="row">
        <div class="col-12 header">
            <h2>{{headerMessage}}</h2>
        </div>
    </div>

    
    <div class="row">

        <div class="col-12">
            <div *ngIf="!editEnable; then editButtonTemp else editEnableTemp"></div>
        </div>

        <div class="col-lg-4 col-md-6 col-12 img-container" *ngFor="let image of imageSubset; index as i;">
            <img class="img-hover" [src]="image.src" (click)="openLightbox(i)"/>
            <div class="select-container" (click)="selectImage($event.target, image)" *ngIf="editEnable">
                <span class="far fa-check-circle"></span>
            </div>

        </div>
    </div>

    <div class="row pagination-bar-container" *ngIf="imageSubset.length > 0">
        <div #pagDiv class="col-12">
            <ngb-pagination [page]="page" [pageSize]="pageSize" [collectionSize]="imageLength" class="d-flex justify-content-center" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>

    
</div>

<ng-template #editButtonTemp>
    <div class="edit-container">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>View Album</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <div *ngFor="let album of albums">
                <button ngbDropdownItem (click)=changeAlbum(album)>{{album.albumName}}</button>
            </div>
          </div>
        </div>
        <button class="btn btn-primary" *ngIf="currAlbum == null" (click)="openModal('createAlbumTemplate')">Create Album <span class="fas fa-plus-square"></span></button>
        <button class="btn btn-info" *ngIf="currAlbum != null" (click)="openModal('shareAlbumTemplate')">Share Album <span class="fas fa-share-square"></span></button>
        <button class="btn btn-success" (click)="toggleEdit()">Edit <span class="fas fa-edit"></span></button>  
    </div>      
</ng-template>


<ng-template #editEnableTemp>
    <div class="edit-container">
        <button class="btn btn-primary" *ngIf="currAlbum == null" [disabled]="imagesToModify.size == 0" (click)="openModal('addPhotosToAlbumTemplate')">Add to Album <span class="fas fa-folder-plus"></span></button>
        <button class="btn btn-danger" [disabled]="imagesToModify.size == 0" (click)="openModal('deletePhotoTemplate')">Delete Photos <span class="fas fa-trash-alt"></span></button>
        <button class="btn btn-danger" *ngIf="currAlbum != null" [disabled]="imagesToModify.size > 0" (click)="openModal('deleteAlbumTemplate')">Delete Album</button>
        <button class="btn btn-info" (click)="toggleEdit()">Cancel</button> 
    </div>
</ng-template>