
button {
  font-family: 'roboto', sans-serif;
}

.status-notice {
  text-align: center;
  font-size: 1.25em;
}

.file-container {
  width: 600px;
  margin: 50px auto;
}

.file-tab {
  background-color: #ffffff;
  width: 100%;
  padding: 0.5em;
  padding-top: 1em;
}

.file-upload {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  /* display: none; */
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping, .image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  color: #15824B;
  padding: 60px 10px 60px 10px;
}

.file-upload-image {
  max-height: 300px;
  max-width: 300px;
  margin: auto;
  padding: 20px;
}

.collapse-container {
  margin-top: 1em;
}

.collapsible {
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
  
.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
}

.content-active {
  max-height: none;
}

@media only screen and (max-width: 768px) {
  .file-container {
      width: 75%;
  }

  h3 {
      font-size: 1.5em;
  }

}

@media only screen and (max-width: 576px) {
  .file-container {
      width: auto;
  }

  h3 {
      font-size: 1.25em;
  }
}