
<div class="file-container">
  <div class="file-upload">
    <p class="status-notice">Upload Image(s)</p>
  
    <button class="file-upload-btn" type="button" (click)="imageFileInput.click()">Add Image</button>
  
    <div class="image-upload-wrap" id="dropArea">
      <input #imageFileInput class="file-upload-input" type='file' (change)="upload()" multiple="multiple" accept="image/*"/>
  
      <div class="drag-text">
        <h3>Drag and Drop or Click Add Image</h3>
      </div>
  
    </div>  
  </div>

  <div class="collapse-container" *ngFor="let section of statusSections">
    <button class="collapsible active">{{section}} ({{fileStatus | uploadCountFilter:section:updateFilter}})</button>
    <div class="content content-active">
      <div *ngFor="let fs of fileStatus | uploadStatusFilter:section:updateFilter" class="file-tab">
        {{fs.name}}
        <ngb-progressbar [type]="fs.class" [value]="fs.percentage"></ngb-progressbar>
      </div>
    </div>
  </div>

</div>
